<div class="modal fade" id="ModalCreate" tabindex="-1" aria-labelledby="formModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- FORM -->
            <form action="{{url_for('modEnsino_create')}}" method="post" class="needs-validation" novalidate="">
                <!-- HEADER -->
                <div class="modal-header">
                    <h2 class="modal-title h5" id="formModalLabel">Adicionar uma Nova Modalidade</h2><button
                        type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- // HEADER -->
                <!-- BODY -->
                <div class="modal-body">
                    <div class="container text-center">
                        <!-- STATUS CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-4"><label class="form-label">Status</label><select name="status"
                                    class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // STATUS CAMP -->
                        <!-- NAME CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-8"><label class="form-label">Name</label><input name="name"
                                    class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // NAME CAMP -->
                        <!-- ExternalId CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-8"><label class="form-label">ExternalId</label><input name="externalId"
                                    class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // ExternalId CAMP -->
                        <!-- TeachingModalityTypeId CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-8"><label class="form-label">TeachingModalityTypeId</label><select
                                    name="teachingModalityTypeId" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="face_to_face">Presencial</option>
                                    <option value="blended_learning">Híbrido</option>
                                    <option value="distance_learning">Ensino à distância</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // TeachingModalityTypeId CAMP -->
                    </div>
                </div>
                <!-- // BODY -->
                <div class="modal-footer"><button type="button" class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            <!-- // FORM -->
        </div>
    </div>
</div>