<div class="modal fade" id="ModalUpdate" tabindex="-1" aria-labelledby="formModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- FORM -->
            <form action="{{url_for('modEnsino_update')}}" method="post" class="needs-validation" novalidate="">
                <input type="hidden" id="update_id" name="id">
                <!-- HEADER -->
                <div class="modal-header">
                    <h2 class="modal-title h5" id="formModalLabel">Adicionar uma Nova Modalidade</h2><button
                        type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- // HEADER -->
                <!-- BODY -->
                <div class="modal-body">
                    <div class="container text-center">
                        <!-- STATUS CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-4"><label class="form-label">Status</label><select id="status_id"
                                    name="status" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // STATUS CAMP -->
                        <!-- NAME CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-8"><label class="form-label">Name</label><input id="name_id" name="name"
                                    class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // NAME CAMP -->
                        <!-- ExternalId CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-8"><label class="form-label">ExternalId</label><input id="ex_id"
                                    name="externalId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // ExternalId CAMP -->
                        <!-- TeachingModalityTypeId CAMP -->
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-8"><label class="form-label">TeachingModalityTypeId</label><select
                                    id="tmt_id" name="teachingModalityTypeId" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="face_to_face">Presencial</option>
                                    <option value="blended_learning">Híbrido</option>
                                    <option value="distance_learning">Ensino à distância</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- // TeachingModalityTypeId CAMP -->
                    </div>
                </div>
                <!-- // BODY -->
                <div class="modal-footer"><button type="button" class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            <!-- // FORM -->
        </div>
    </div>
</div>

<script>

    const MODAL_UPDATE = document.getElementById('ModalUpdate');

    MODAL_UPDATE.addEventListener('show.bs.modal', function (event) {

        // Botão que abriu o modal
        const button = event.relatedTarget;

        // Recupera os atributos
        const id = button.getAttribute('data-id');
        const status = button.getAttribute('data-status');
        const name = button.getAttribute('data-name');
        const externalId = button.getAttribute('data-exId');
        const teachingModalityTypeId = button.getAttribute('data-tmtId');

        document.getElementById("update_id").value = id
        document.getElementById("status_id").value = status
        document.getElementById("name_id").value = name
        document.getElementById("ex_id").value = externalId
        document.getElementById("tmt_id").value = teachingModalityTypeId
    });
</script>