<nav class="sidebar-nav">
    <a class="nav-link active" href="{{ url_for('polos_read') }}" aria-current="page">
        <span class="nav-icon"><i class="bi bi-folder-fill"></i></span>
        <span class="nav-text">Polos</span>
    </a>
    <a class="nav-link active" href="{{ url_for('modEnsino_read') }}" aria-current="page">
        <span class="nav-icon"><i class="bi bi-folder-fill"></i></span>
        <span class="nav-text">Mod. Ensino</span>
    </a>
    <a class="nav-link active" href="{{ url_for('nivelEns_read') }}" aria-current="page">
        <span class="nav-icon"><i class="bi bi-folder-fill"></i></span>
        <span class="nav-text">Nivel de Ensino</span>
    </a>
    <a class="nav-link active" href="{{ url_for('cursos_read') }}" aria-current="page">
        <span class="nav-icon"><i class="bi bi-folder-fill"></i></span>
        <span class="nav-text">Cursos</span>
    </a>
</nav>