<div class="modal fade" id="ModalUploadExcel" tabindex="-1" aria-labelledby="formModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Form -->
            <form id="uploadFormExcel" enctype="multipart/form-data" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h2 class="modal-title h5" id="formModalLabel">Upload Excel</h2><button type="button"
                        class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Body -->
                <div class="modal-body">
                    <div class="input-group">
                        <input type="file" class="form-control" id="arquivo_csv" name="file"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button class="btn btn-outline-secondary" type="submit">Importar</button>
                    </div>
                    <div id="mensagem" class="mt-3"></div>

                </div>
                <!-- // Body -->
                <div class="modal-footer"><button type="button" class="btn btn-outline-secondary"
                        data-bs-dismiss="modal">Voltar</button></div>
            </form>
            <!-- // Form -->
        </div>
    </div>
</div>
<script>

    async function createFormData(nomeFile, arquivo) {
        const data = new FormData()
        data.append(nomeFile, arquivo)
        return data
    }

    async function fetchUpload(api, formData) {
        result = await fetch(api, {
            method: "POST",
            body: formData
        });

        return result
    }
    async function setterMensagem(payload, tagId) {

        elemento = document.getElementById(tagId)

        isSucesso = !payload.ok ? false : true

        switch (isSucesso) {
            case true:
                elemento.innerHTML = '<div class="alert alert-success" role="alert"><strong>Sucesso!:</strong> (>‿◠)✌</div>'
                setTimeout(() => {
                    location.reload();
                }, 1500);
                break;
            case false:
                elemento.innerHTML = '<div class="alert alert-danger" role="alert"><strong>Deu ruim</strong> (ㆆ_ㆆ)</div>'
                break;
            default:
                elemento.innerHTML = '<div class="alert alert-warning" role="alert"><strong>Warning:</strong> deu ruim em algo aqui em kkkkk.</div>'
                console.log("Deu ruim!");
        }

    }




    document.getElementById("uploadFormExcel").addEventListener("submit", async function (e) {
        e.preventDefault();
        const CONFIG = {
            "input_id": "arquivo_csv",
            "request_name": "file",
            "api": "http://127.0.0.1:8080/cursos/upload-xlsx",
            "divMsgId": "mensagem"
        }

        const arquivo = document.getElementById(CONFIG['input_id']).files[0];
        const formData = await createFormData(CONFIG['request_name'], arquivo)
        const payload = await fetchUpload(CONFIG['api'], formData)
        const result = await setterMensagem(payload, CONFIG["divMsgId"])

    });


</script>