<div class="modal fade" id="ModalUpdate" tabindex="-1" aria-labelledby="formModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- FORM -->
            <form action="{{url_for('cursos_update')}}" method="post" class="needs-validation" novalidate="">
                <input type="hidden" id="update_id" name="id">
                <div class="modal-header">
                    <h2 class="modal-title h5">Editar Curso</h2><button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- BODY -->
                    <div class="panel">
                        <!-- isActive || NAME -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-4"><label class="form-label">isActive</label>
                                <select id="isActive_id" name="isActive" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                            <div class="col-md-8"><label class="form-label">Name</label><input id="name_id" name="name"
                                    class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- externalId || externalTeachingModalityId -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-6"><label class="form-label">ExternalId</label>
                                <input id="externalId_id" name="externalId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                            <div class="col-md-6"><label class="form-label">externalTeachingModalityId</label>
                                <input id="etm_id" name="externalTeachingModalityId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>

                        </div>
                        <!-- externalEducationLevelId || courseTypeId -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-6"><label class="form-label">externalEducationLevelId</label>
                                <input id="exid_id" name="externalEducationLevelId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                            <div class="col-md-6"><label class="form-label">courseTypeId</label>
                                <select id="courseTypeId_id" name="courseTypeId" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="bachelor">Bacharelado</option>
                                    <option value="licentiate">Licenciatura</option>
                                    <option value="technologist">Tecnólogo</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- polo_id -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-6"><label class="form-label">polo_id</label>
                                <input id="poloId_id" type="number" name="polo_id" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                    </div>
                    <!-- // BODY -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            <!-- // FORM -->
        </div>
    </div>
</div>
<script>

    const MODAL_UPDATE = document.getElementById('ModalUpdate');

    MODAL_UPDATE.addEventListener('show.bs.modal', function (event) {

        // Botão que abriu o modal
        const button = event.relatedTarget;

        // Recupera os atributos
        const id = button.getAttribute('data-id');
        const isActive = button.getAttribute('data-isActive');
        const name = button.getAttribute('data-name');
        const exId = button.getAttribute('data-exId');
        const extmId = button.getAttribute('data-extmId');
        const exelevelId = button.getAttribute('data-exelevelId');
        const courseTypeId = button.getAttribute('data-courseTypeId');
        const polo_id = button.getAttribute('data-polo_id');

        document.getElementById("update_id").value = id
        document.getElementById("isActive_id").value = isActive
        document.getElementById("name_id").value = name
        document.getElementById("externalId_id").value = exId
        document.getElementById("etm_id").value = extmId
        document.getElementById("exid_id").value = exelevelId
        document.getElementById("courseTypeId_id").value = courseTypeId
        document.getElementById("poloId_id").value = polo_id

    });
</script>