<div class="modal fade" id="ModalCreate" tabindex="-1" aria-labelledby="formModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- FORM -->
            <form action="{{url_for('cursos_create')}}" method="post" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h2 class="modal-title h5">Adicionar Curso</h2><button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- BODY -->
                    <div class="panel">
                        <!-- isActive || NAME -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-4"><label class="form-label">isActive</label>
                                <select name="isActive" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                            <div class="col-md-8"><label class="form-label">Name</label><input name="name"
                                    class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- externalId || externalTeachingModalityId -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-6"><label class="form-label">ExternalId</label>
                                <input name="externalId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                            <div class="col-md-6"><label class="form-label">externalTeachingModalityId</label>
                                <input name="externalTeachingModalityId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>

                        </div>
                        <!-- externalEducationLevelId || courseTypeId -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-6"><label class="form-label">externalEducationLevelId</label>
                                <input name="externalEducationLevelId" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                            <div class="col-md-6"><label class="form-label">courseTypeId</label>
                                <select name="courseTypeId" class="form-select" required="">
                                    <option value="">...</option>
                                    <option value="bachelor">Bacharelado</option>
                                    <option value="licentiate">Licenciatura</option>
                                    <option value="technologist">Tecnólogo</option>
                                </select>
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                        <!-- polo_id -->
                        <div class="row g-2 mb-2 justify-content-md-center text-center">
                            <div class="col-md-6"><label class="form-label">polo_id</label>
                                <input type="number" name="polo_id" class="form-control" required="">
                                <div class="invalid-feedback">Faz favor.</div>
                            </div>
                        </div>
                    </div>
                    <!-- // BODY -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            <!-- // FORM -->
        </div>
    </div>
</div>